/* Justin Anthony Ball 
Visual Frameworks
Project Week 2 */

body {
	background-color: black white;
}
/*Header1*/
h1{ 
	margin: 1px;
	border: 1px solid black;
	padding: 10px 10px;
	background: #003399;
	font-family: "Andale Mono";
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: white;	
}	
/*Anchor Outline*/
a{
	outline: 1px dotted blue none;
}
/*Hover*/
a:hover{color: white};

/*Display*/
li{
	visibility: hidden;
		
}
