/* Justin Anthony Ball 
Visual Frameworks
November 2, 2012
Project Week 2 */

body {
	background-color: black white;
}
/*Header1*/
h1{ 
	margin: 1px;
	border: 1px solid black;
	padding: 10px 10px;
	background: #003399;
	font-family: "Andale Mono";
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: white;	
}	
/*Anchor Outline*/
a{
	outline: 1px dotted blue none;
}
/*Hover*/
a:hover{color: white};

/*Display*/
li{
	visibility: hidden;
		
}

section{	
	background: #87cefa;
}
input[type="text"]{

	border: 1px solid black;
	padding: 5px;
	width: 200px;
}
input[type="password"]{
	border: 1px solid black;
	padding: 5px;
	width: 200px;
}

.hasFocus{border: 2px solid #ff0000};